/* Page structure for topic model figures: radial hierarchical clustering graphs and cotopic edges */
/* Many of the initial settings are taken from bl.ocks.org/style.css?20120730 */


html {						
  min-width: 1040px;
}

body {						
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 1em auto 4em auto;
  position: relative;
  width: 1000px;
}

h1 {						
  font-size: 2.5em;
  font-weight: 300;
  letter-spacing: -2px;
  margin: .3em 0 .1em 0;
}

h2 {						
  margin: 0 0 0.5em 0;
}

h1, h2, h3 {					
  text-rendering: optimizeLegibility;
}

div#title {
	position: relative;
	margin: 1em auto 1.5em auto;
	min-width: 180px;
/* 	border: 1px solid #DEDEDE;		// for testing only  */   
}

div#figure {
  position: absolute;
  width: 700px;
  min-height: 500px;
/*   border: 1px solid #DEDEDE; 	// for testing only */
}

div#details {
  position: absolute;
  left: 725px;
  float: right;
  max-width: 250px;
  top:150%;
  word-wrap: break-word;
/*   border: 1px solid #DEDEDE;		// for testing only  */
}

div#details div, div#details li {
  margin-bottom: 0.5em;
}

div#promo {
  position: absolute;
  left: 725px;
  float: right;
  max-width: 250px;
  top:100%;
  border: 1px black solid;
  padding-top: 10px;
  width:  100%;
  text-align: center;

/*   border: 1px solid #DEDEDE;		// for testing only  */
}


div#inputs {
	position:absolute;
	top:135%;
	left:725px; 
	max-width:250px;
	font-size:11px; 
/* 	border: 1px solid #DEDEDE;		// for testing only  */
}

div#credits {
	position:absolute;
	top:1050px;
	margin: 3em 0;
	font-size: 0.7em;
	max-width: 700px;
}

div#credits a {
	color: #457EA4;
}

div#credits a:hover, div#credits a:active {
	text-decoration: underline;
}

.node {
	font-size: 9pt;
}

label { float:left; clear:none; display:block; padding: 2px 0 0 1em; }
input.radio { float:left; clear:none; padding: 2px 0 0 1em; }


